/* AVIS */
#container-avis{
    margin: 10% 20%;
}
.avis{
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3% 3%;
    border-radius: 15px;
}
.name{
    color: white;
    font-size: x-large;
    font-family: 'Rubik';
}
.texte{
    color: white;
    font-size: large;
    line-height: 1.5;
}
