/* Global Parameters */
body{
    margin: 0%;
    padding: 0%;
    background-color: #40363C;
}
a{
    text-decoration: none;
    color: white;
}
/* Police Creation */
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'Homenaje';
    src: url(../font/Homenaje-Regular.ttf);
}
@font-face {
    font-family: 'Hubballi';
    src: url(../font/Hubballi-Regular.ttf);
}
/* Nav */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: white;
    font-size: 50px;
}
#logo{
    font-family: 'Homenaje';
    font-size: 100px;
    margin: 20px 0px;
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
.rubik{
    font-family: 'Rubik';
}
#sign_up{
    font-family: 'Hubballi';
    margin: 10px 0px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
/* Header */
header{
    height: 40vh;
    background: linear-gradient(to bottom, transparent, #40363C), url(../images/banner.jpg) no-repeat;
    background-size: cover;
}
/* AVIS */
#container-avis{
    margin: 10% 20%;
}
.avis{
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3% 3%;
    border-radius: 15px;
}
.name{
    color: white;
    font-size: x-large;
    font-family: 'Rubik';
}
.texte{
    color: white;
    font-size: large;
    line-height: 1.5;
}
