/* Global Parameters */
body{
    margin: 0%;
    padding: 0%;
    background-color: #40363C;
}
a{
    text-decoration: none;
    color: white;
}
/* Police Creation */
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'Homenaje';
    src: url(../font/Homenaje-Regular.ttf);
}
@font-face {
    font-family: 'Hubballi';
    src: url(../font/Hubballi-Regular.ttf);
}
/* Nav */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: white;
    font-size: 50px;
}
#logo{
    font-family: 'Homenaje';
    font-size: 100px;
    margin: 20px 0px;
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
.rubik{
    font-family: 'Rubik';
}
#sign_up{
    font-family: 'Hubballi';
    margin: 10px 0px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
/* Header */
header{
    height: 40vh;
    background: linear-gradient(to bottom, transparent, #40363C), url(../images/banner.jpg) no-repeat;
    background-size: cover;
}
/* PAGE LOGIN */
.text-center{
	color:#fff;	
    font-size: 23px;
    font-family: 'Rubik';
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
	border-radius:15px;
	padding:70px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #40363C;	
}
.btn{
	color:#fff;
	background-color:#40363C;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
