/* Global Parameters */
body{
    margin: 0%;
    padding: 0%;
    background-color: #40363C;
}
/* Police Creation */
@font-face{
    font-family: 'Rubik';
    src: url(../font/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'Homenaje';
    src: url(../font/Homenaje-Regular.ttf);
}
@font-face {
    font-family: 'Hubballi';
    src: url(../font/Hubballi-Regular.ttf);
}
/* Nav */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: white;
    font-size: 50px;
}
#logo{
    font-family: 'Homenaje';
    font-size: 100px;
    margin: 20px 0px;
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
.rubik{
    font-family: 'Rubik';
}
#sign_up{
    font-family: 'Hubballi';
    margin: 10px 0px;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
/* Header */
header{
    height: 55vh;
    background: linear-gradient(to bottom, transparent, #40363C), url(../images/banner.jpg) no-repeat;
    background-size: cover;
}
#site-presentation{
    color: white;
    text-align: center;
    font-family: 'Rubik';
    font-size: large;
    line-height: 1.5;
    padding: 0px 10vw;
}
/* Top fims */
#top-films{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    color: white;
    font-family: 'Rubik';
}
.align-center{
    text-align: center;
}